@import "tailwindcss";

:root {
  --background: #fff8f2;
  --foreground: #111111;

  --primary: #eb4c4c;
  --secondary: #ff7070;

  --soft-pink: #ffa6a6;
  --cream: #ffe8c7;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-outfit);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
svg {
  max-width: 100%;
}

section {
  width: 100%;
}

